/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
    line-height: 1.6;
    scroll-behavior: smooth; 
    
}

/*header e menu*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #c1ff72;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo h1 {
    font-size: 2rem;
    color:white; /* cor da letra */
    -webkit-text-stroke: 2px black; /* borda */
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}


nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.menu a:hover{
    color: gray;
}

/*hero section*/
.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5)), rgba(0, 0, 0, 0.5), url('imagens/asfalt-dark.png') repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title{
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 2px #c1ff72;
    text-transform: uppercase;
}

.hero-title span{
    color: #c1ff72;
    -webkit-text-stroke: 0;
}

/*marquee*/
.marquee-container{
    background-color: #c1ff72;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px 0;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.marquee-content{
    display: inline-block;
    animation: marquee 25s linear infinite;
}

.marquee-content :hover{
    animation-play-state: paused;
}

@keyframes marquee {
    from { transform: translateX(0);}
    to {transform: translateX(-50%);}
}

/*grids e produtos*/
section { padding: 60px 5%;}

h2 {
    text-align: center;
    font-size: 3rem;
    -webkit-text-stroke: 1.5px white;
    color: transparent;
    margin-bottom: 40px;
    text-transform: uppercase;
}

/*destaques*/
.produto-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.produto {
    background: transparent;
    text-align: center;
    width: 350px;
}


/*catalogo*/
.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.cd { text-align: center;}

/*estilo das imagens*/
.produto img, .cd img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.produto img :hover, .cd img :hover { transform: scale(1.05);}

/*botões*/
.btn-shop, .btn, .btn-cd {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-shop {
    background-color: #c1ff72;
    padding: 12px 30px;
    color: #9900ff;
    margin-top: 20px;
}

.btn {
    background-color: rgba(217, 122, 255, 0.5);
    padding: 10px 20px;
    color: white;
    margin-top: 15px;
    width: 100%;
}

.btn-cd {
    background-color: #c1ff72;
    padding: 8px 15px;
    color: black;
    margin-top: 10px;
    font-size: 0.9rem;
}

.btn-shop:hover, .btn-cd:hover {
    background-color: white;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(193, 255, 114, 0.4);
}

.btn:hover {
    background-color: #d365ff;
    color: white;
}

footer {
    color: #666;
    text-align: center;
    padding: 40px;
}

@media (max-width: 900px) {
    .catalogo-grid
    { grid-template-columns: repeat(2, 1fr); }
    .hero-title { font-size: 2.5rem; }
}