/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #3f3f3f;
    color: white;
    line-height: 1.6;
    scroll-behavior: smooth; 
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #c1ff72;
    position: sticky;
    top: 0;
    z-index: 100;
}

h1{
    font-size:50px;
    color:white; /* cor da letra */
    -webkit-text-stroke: 2px black; /* borda */
}

.logo h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-size: 50px;
    color:white; /* cor da letra */
    -webkit-text-stroke: 2px black; /* borda */
    text-transform: uppercase;
    font-weight: bold;
    
}

header, nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover{
    color: gray;
}

.hero {
    background-image: url('imagens/asfalt-dark.png');
    background-repeat: repeat;
    padding: 60px 20px;
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h3 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 3px;
}

.hero-text p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.btn-shop {
    background-color: #c1ff72;
    padding: 10px 20px;
    color: rgba(153, 0, 255, 0.575);
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#destaques{
    padding-top: 150px;
    margin-top: -150px;
}

.btn-shop:hover{
    color: black;
    background-color: white;
    transition: 0.3s ease;
}

.produtos {
    padding: 50px 10%;
    background-color: #1a1a1a;
}

.produtos h2 {
    color:black; /* cor da letra */
    -webkit-text-stroke: 2px white; /* borda */
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.produto-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.produto {
    background-color: #333;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

.produto p {
    font-size: 1.1rem;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

.btn {
    background-color: rgba(217, 122, 255, 0.5);
    padding: 10px;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.btn:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

#catalogo {
    padding: 40px ;
    background-color: #1a1a1a;
}

.catalogo h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cd {
    
    text-align: center;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    
}

.cd:hover {
    transform: scale(1.05);
}

.cd img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.cd h3 {
    font-size: 1.2rem;
    margin: 10px;
}

.cd p {
    font-size: 1.1rem;
    margin: 5px;
}

.btn-cd {
    background-color: #c1ff72;
    padding: 10px;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.btn-cd:hover{
    transition: 0.3s ease;
    background-color: rgba(217, 122, 255, 0.5);
    
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    font-size: 1rem;
    color: #888;
}